// Sizes
$size-normal: 1.6rem;
$s-size: calc(1.6rem / 2);
$m-size: $s-size * 2;
$small-screen-breakpoint: 45rem;
$desktop-width: 33rem;
$mobile-width: 26rem;
$content-background: #f2f2f2;
$header-background: #dfdfdf;
