@import 'src/settings.scss';

header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $header-background;
  margin-bottom: $m-size;

  a {
    text-decoration: none;
  }
}
